*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: aqua;
} */

:root{
    --orange: #Bf2D0D;
    --white:#ffffff;
    --black:#000000;
    --grey: #959595;
}
.container{
    max-width: 1240px;
    /* width: 80%;
    margin: 0 auto;
    padding: 0 15px; */
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}

.top_bar{
    background-color: #Bf2D0D;
    color: white;
    padding: 8px 0;
    font-size: 14px;
}
.top_bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}


/* navbar */
.navbar{
    background-color: var(--white);
    padding: 25px 0;
    /* padding: 10px 80px; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
}
.navbar_brand{
    margin-right: 106px;
}
.navbar nav{
    /* navbar nav 
    se woh search bar etc right side chala gaya hai  */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.nav_links ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav_links ul li{
    /* margin: 0 10px; */
    padding: 0 25px;
    font-family: "Poppins", sans-serif;
}
/* .nav_links ul li a{
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    color: rgb(94, 94, 94);
} */

.navbar_brand{
    margin-right: 45px;
}
.navbar_brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_brand a{
    padding: 0 15px;
}
.navbar_brand .button{
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 15px;
    border: 2px solid #Bf2D0D;
    color: #111;
}


/* banner */
.banner{
    background-image: url('../images/banner_1.png');
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    text-align: start;
    display: flex;
    padding: 100px 100px;
}
.main .red_text{
    color: var(--orange);
    line-height: 3;
}
.main .white_text{
    color: var(--white);
    font-size: 36px;
}
.main .para{
    color: var(--white);
    font-size: 12px;
    line-height: 1.2;
    padding: 10px 0;
}
button{
    padding: 6px;
    color: #BF2D0D;
}


/* service section-paddings */

.service section-paddings{
    display: flex;
}

.highlight{
    display: inline-block;
    background: var(--orange);
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 24px;
    transform: skewX(-15deg);
}
.service-text{
    text-align: center;
}
.section-paddings{
    padding: 100px 0px 100px;
}
.service-icon{
    height: 100px;
    width: 100px;
    background-color: var(--orange);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.service-icon img{
    height: 50px;
} 
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.services{
    background-color: var(--grey);
    height: 630px;
    width: 100%;
}
.service-card{
    max-width: 281px;
    text-align: center;
}


/* offer */

.offer{
    display: flex;
    width: 100%;
}

.image-offer{
    height: 624px;
    width: 50%;
}
.offer img{
    object-fit: cover;
    height: 624px;
    width: 100%;
}
.content-offer{
    height: 624px;
    width: 50%;
    background-color: var(--orange);
}
.offer span{
    display: block;
}
.table{
    display: flex;
    max-width: 589px;
    justify-content: space-between;
}

/* choose-us */

.choose-us{
    display: flex;
}

.service-text{
    text-align: center;
}


.feature-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.icon{
    /* height: 100px;
    width: 100px;
    background-color: var(--orange); */
    border-radius: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: auto;
}

.read-more1{
    text-align: center;
}